<div
    class="mb-2 p-2 rounded-md bg-[var(--bg-tool-group)] border @(IsUserMessage ? "ml-[20%]]" : "mr-[10%] ")">
    <div class="flex justify-between mb-1 text-sm">
        <span class="font-semibold">@(IsUserMessage ? "You" : "Claude")</span>
        <span class="text-[var(--text-muted)]">@Message.CreatedAt.ToLocalTime().ToString("HH:mm:ss")</span>
    </div>
    <div>
        @foreach (var content in Message.Content)
        {
            <ContentBlock Content="content"/>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired] public ClaudeMessage Message { get; set; }

    private bool IsUserMessage => Message.Role == ClaudeMessageRole.User;
}
